@model starrexam.Models.room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
    <table class="table table-bordered">
        
            <tr class="info">
                <td>
                    @Html.DisplayNameFor(model => model.bookings.ToList()[0].starting)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.bookings.ToList()[0].ending)
                </td>
            </tr>

            @foreach (var item in Model.bookings.Where(x=>x.ending>DateTime.Today))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem=>item.starting)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.ending)
                    </td>
                </tr>
            }
            @if (Model.bookings.Where(x=>x.ending>DateTime.Today).ToList().Count==0) {
                <tr>
                    <u>This room does not have future nor present bookings.</u>
                </tr>
            }
        
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
