@model starrexam.Models.booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.starting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.starting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.roomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.roomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
