@model IEnumerable<starrexam.Models.booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Book a Room", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.price)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.bookingId)
    </td>
    <td>
        <a href="@Url.Action("Details", "Rooms", new { Id=item.roomNumber})">  @Html.DisplayFor(modelItem => item.room.roomNumber)</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.starting)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ending)
    </td>
    <td>
       $ @Html.DisplayFor(modelItem => item.room.price)
    </td>

    <td>
        @Html.ActionLink("Details", "Details", new { id = item.bookingId }) |
        @Html.ActionLink("Cancel this Booking", "Delete", new { id = item.bookingId })
    </td>
</tr>
}

</table>
