@model starrexam.Models.user

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br />
                <div class="container">
                    @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
                    {

                        <div class="form-group">
                            @Html.LabelFor(model => model.userName)
                            @Html.EditorFor(model => model.userName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.password)
                            @Html.EditorFor(model => model.password, new { @class = "form-control" })
                        </div>
                        <input class="btn btn-success" type="submit" name="login" value="Log In" />
                        <input class="btn btn-success" type="reset" name="reset" value="Reset" />
                        <p> @Html.DisplayFor(model => model.errorMessage)</p>
                    }
                </div>
</body>
</html>