@model starrexam.Models.booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>booking</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.bookingId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <i>The booking Id will be generated after the booking.</i>
            @Html.EditorFor(model => model.bookingId, new { htmlAttributes = new { @class = "form-control", @Value = "just placeholder", @readonly = "readonly", @style = "display: none" } })
            @Html.ValidationMessageFor(model => model.bookingId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.roomNumber, "roomNumber", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("roomNumber", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.roomNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.userName, "userName", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("userName", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.starting, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.starting, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.starting, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ending, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ending, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ending, "", new { @class = "text-danger" })
        </div>
    </div>
    <p class="text-danger"> @Html.DisplayFor(model => model.errorMessage)</p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
