@model starrexam.Models.booking

@{
    ViewBag.Title = "Delete";
}

<h2>Cancellation</h2>
<div>
    <h4>bookings admin</h4>
    <hr />
    <p>You are an admin. You can cancel any booking you want.</p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.starting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.starting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ending)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.roomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.roomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
