@model starrexam.Models.booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayNameFor(model => model.bookingId):  @Html.DisplayFor(model => model.bookingId)</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.userName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.bookingId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bookingId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.starting)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.starting)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ending)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ending)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.room.roomNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.room.roomNumber)
                <a href="@Url.Action("Details", "Rooms", new { Id=Model.roomNumber})"> ← Click here for more information about this room</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.room.price)
            </dt>

            <dd>
                $ @Html.DisplayFor(model => model.room.price)
            </dd>

        </dl>
</div>
<p>
    @Html.ActionLink("Back to Bookings Admin", "Index")
</p>
