@model IEnumerable<starrexam.Models.booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Book a Room (for anyone)", "Create")
</p>
<p>
    This is a list of all your past, present and future bookings for all users. To get more information about a specific booking, click on its <b>@Html.DisplayNameFor(model => model.bookingId)</b>.
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.roomNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ending)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.price)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="@Url.Action("Details", "Users", new { Id=item.userName})">  @Html.DisplayFor(modelItem => item.userName)</a>
    </td>
    <td>
        <a href="@Url.Action("Details", new { id = item.bookingId })">
            @Html.DisplayFor(modelItem => item.bookingId)
        </a>
    </td>
    <td>
        <a href="@Url.Action("Details", "Rooms", new { Id=item.roomNumber})">  @Html.DisplayFor(modelItem => item.room.roomNumber)</a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.starting)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ending)
    </td>
    <td>
        $ @Html.DisplayFor(modelItem => item.room.price)
    </td>

    <td>
        @Html.ActionLink("Cancel", "Delete", new { id = item.bookingId })
    </td>
</tr>
    }

</table>
